.wrapper
  .containers
    .set
      .header
        = link_to root_path, class: "title" do
          %h1 韻strumental   
      .container
        %h2 signUp
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          .field
            = f.label :name
            %br/
            = f.text_field :name, autofocus: true, maxlength: "6", size: "15*15", placeholder: "maximum 6"
          .field
            .profile Profile Image(※)
            = f.label :avatar do
              %i.fas.fa-portrait
            %br/
            = f.file_field :avatar, class: "avatar"
          .field
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email"
          .field
            = f.label :password
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            %br/
            = f.password_field :password, autocomplete: "new-password"
          .field
            = f.label :password_confirmation
            %br/
            = f.password_field :password_confirmation, autocomplete: "new-password"
          .actions
            = f.submit "Sign up", class: "submit-up"
        .field
          = render "devise/shared/links"  