.wrapper
  .edit-header
    .header
      = link_to root_path, class: "title" do
        %h1 韻strumental   
    = form_with model: @user, class: "edit-form" do |f|
      .change-box
        %h1.change-p Edit Profile
        .change2 Name
        = f.text_field :name, class: "changes", maxlength: "10", size: "15x15", placeholder: "maximum 10"
        .change2 Booking address
        = f.text_field :jobrequest, class: "changes", size: "40x40", placeholder: "スペルミスがあると黒文字で表示されます"
        .change2 Image
        = f.label :avatar, class: "changes" do
          %i.fas.fa-portrait
        = f.file_field :avatar, class: "avatar"
        .change2 BackGround Image
        = f.label :backimage, class: "changes" do
          %i.fas.fa-file-image
        = f.file_field :backimage, class: "avatar"
        .change2 Your Introduction
        = f.text_area :intro, size: "30x3", maxlength: "100", class: "changes", placeholder: "maximum 100"
        = f.submit "Remake", class: "submit-c"
