.wrapper
  .header-top
    -if user_signed_in?
      .user_nav.grid-6
        = link_to root_path, class: "post" do
          韻strumental
        = link_to "logOut", destroy_user_session_path, class: "post", method: :delete
        = link_to new_post_path, class: "post" do
          newPost
        = link_to current_user.name, "/users/#{current_user.id}", class: "post"
        = link_to post_likes_path(current_user.id), class: "post" do
          %i.fas.fa-thumbs-up
        = link_to "Edit", edit_user_path(current_user), class: "post"
  .mains
    .main-intro
      .intro
        = image_tag @backimage.url, class: "back-image"
        = image_tag @avatar.url, class: "intro-image"
        .name-job
          = link_to @name, "#", class: "intro-name"
          .job-main
            %h3.job-r Booking
            .job
              = Rinku.auto_link(@jobrequest, :all, 'target="_blank"').html_safe
          .intro-main
            %h3.profile-a Introduce
            .profile
              %p.main-pro= @intro
      .main
        %h3.beat-index Beats you uploaded
        - @posts.each do |post|
          .content 
            =link_to post_path(post.id), method: :get do
              =image_tag post.image.url, class: "image" 
            =link_to post.user.name, post_path(post.id), method: :get, class: "click"
            =link_to post.theme, post_path(post.id), method: :get, class: "click-theme"
            =link_to post.title, post_path(post.id), method: :get, class: "click2"
            =link_to post_path(post.id), method: :get, class: "index-good" do
              %i.fas.fa-thumbs-up
              = post.liked_users.count
    .footer
      %p.footer-info
        bianKobayashi/09/10/1996/kobe