.wrapper
  .header
    = link_to root_path, class: "title" do
      韻strumental
  .header-top1
    -if user_signed_in?
      .user_nav.grid-6
        = link_to "logOut", destroy_user_session_path, class: "post", method: :delete
        = link_to new_post_path, class: "post" do
          newPost
        = link_to current_user.name, "/users/#{current_user.id}", class: "post"
        = link_to post_likes_path(current_user.id), class: "post" do
          %i.fas.fa-thumbs-up
    = form_with(url: search_posts_path, local: true, method: :get, class: "search2-form") do |form|
      = form.text_field :keyword, placeholder: "findGenre", class: "search2-input", size: "15:15"
      = button_tag type: 'submit', class: 'search2-btn' do
        %i.fas.fa-search
  .success
    %h1 Done Delete
    = link_to root_path, class: "return-d" do
      Return To Top