.wrapper
  .header-top
    -if user_signed_in?
      .user_nav.grid-6
        = link_to root_path, class: "post" do
          韻strumental
        = link_to new_post_path, class: "post" do
          newPost
        = link_to @post.user.name, "/users/#{@post.user.id}", class: "post"
        = link_to post_likes_path(current_user.id), class: "post" do
          %i.fas.fa-thumbs-up
      -if user_signed_in? && current_user.id  == @post.user_id
        = link_to "/posts/#{@post.id}", method: :delete, class: "delete" do
          delete
  .shows
    .show 
      =image_tag @post.image.url, class: "image" 
    .contents
      .content
        %h3 name
        %p= link_to @post.user.name, "/users/#{@post.user.id}", class: "user-name"
    .contents
      .content
        %h3 Genre
        %p= @post.title
    .contents
      %p.music
      =audio_tag @post.music, controls: true, controlslist: "nodownload"
    .contents
      %p.hand-sign
        goodCount : #{@post.likes.count}
        - if current_user.already_liked?(@post)
          = link_to  post_like_path(@post), method: :delete, class: "hand", remote: true do
            %i.fas.fa-thumbs-up
        - else
          = link_to post_likes_path(@post), method: :post, class: "hand-bad", remote: true do
            %i.fas.fa-thumbs-up
    .comments-form
      - if current_user
        = form_with(model: [@post, @comment], local: true, class: "search-form") do |form|
          = form.text_area :text, placeholder: "Pusu Comments", class: "comment-input"
          = button_tag type: 'submit', class: 'comment-submit' do
            %i.fas.fa-comments

      .comments
        %h4 Comments List
        - if @comments
          .comments-border
            - @comments.each do |comment|
              %p 
                %strong.comment-content
                  .c
                    = image_tag comment.user.avatar.url, class: "comment-image"
                    = link_to comment.user.name, "/users/#{comment.user_id}", class: "comment-name"
                    .comment-text
                      ：
                      = comment.text